<p>Dear<%= @user.first_name %>,</p>

<p>Thank you for signing up to the members' area at Minerva Ballet. Please keep checking for updates to the rehersal schedule and casting.</p>

<p>With Best wishes</p>

<p>Minerva Ballet</p>

