
<div class="wrapper">
    <div class="card padding">
        <div class="card-description">
            <h2>Minerva Ballet</h2>
            <%=image_tag("min.png", class: "avatar-large", alt: "min.png") %><br>
            <%= link_to 'Learn more', page_path('about'), class:"btn-medium"%>
        </div>
    </div>
</div>    
<%= render 'layouts/footer' %>