
<div class="wrapper">
    <div class="card padding">
        <div class="card-description">
            <h2>Minerva Ballet</h2>
            <%=image_tag("img.jpg", class: "avatar-large", alt: "UIHere.png") %>
            <p>Web application coming soon</p>
        </div>
    </div>
</div>    



<%= render 'layouts/footer' %>