<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-offset-4">
    <% if user_signed_in? %>
    <% if current_user.try(:admin?) %>
    <% end %>                 
    <% end %> 
      <% @users.each  do |user| %>
      <% if user.photo? %>
                <%= link_to cl_image_tag(user.photo.url(:angle=>"exif"), class: "card-img-top avatar-card"), user %>
                <% else %>
                <%= link_to image_tag('min.png', class: "card-img-top avatar-card"), user %>
                <% end %>  
                <%= link_to user.first_name, user %>
                <%= link_to user.last_name, user %>      
      <% end %> 
      </div>
  </div>
</div>  



             




 