<%= content_for :meta_title, "Users | #{DEFAULT_META["meta_title"]}" %>

        
          <h1 class="jumbotron text-center">Minerva members</h1>
          <p>
            <a class="btn btn-sm btn-outline-secondary"><%= link_to 'Back to Home page', about_path %></a>          </p>
       


  

  <div class="card" style="height: 15rem; width: 20rem;">
   <%= render 'user' %>   
  </div>





