
<%= content_for :meta_title, "Users | #{DEFAULT_META["meta_title"]}" %>

        <div class="container">
          <h1 class="jumbotron text-centre">Events</h1>
            <a class="btn btn-sm btn-outline-secondary"><%= link_to 'Back to Memebrs page', members_path %></a>          </p>
        </div>

<div class="container">
  <div class="row">
    <% @events.each do |event| %>
    <%= render "event", event: event %>
    <% end %>
  </div>
</div>