<div class='about-page'><p>Welcome to our members’ area.  You will receive an email acknowledging your sign-up.  
Here, you will find rehearsal schedules and cast sheets, as well as documents posted by our artistic director.</p>  
<p>Please read our guidelines for dancers when you can. </p>
</div>


<%= month_calendar do |date| %>
  <%= date %>
<% end %>